body{margin:0px;padding:0px;	font-family:arial,sansserif;font-size: 16px;color:rgb(84, 84, 84)}
textarea{font-family:arial,sansserif;font-size:100%}
div {border-style: solid;border-width:0px}
td {padding:2px 5px 2px 5px;font-size:90% }
th{text-align:left;font-size:90%}
option{font-size: 100%;width:125px}
select{font-size: 100%;width:125px;margin-top:5px;height:28px}
h1{font-size: 150%;font-weight:bold;color:black}
h2{font-size: 125%;font-weight:normal;color:black}
h3{font-size: 110%;font-weight:normal;color:black;display:block;line-height: 10px;}
h4{font-size: 100%;font-weight:normal;color:black;font-style: italic;}
A:link {text-decoration:none; border-bottom:0px; color:grey}
A:visited {text-decoration: none; border-bottom:0px; color:grey}
A:active {text-decoration: none; border-bottom:0px; color:grey}
A:hover {text-decoration: underline; border-bottom:0px; color:grey}
label{cursor:pointer}
hr{color:#CCC;background-color:#CCC;height:1px;border:none}


/* main sections */


/* mappage sections */
#top {position:absolute;top:0px;height:75px;left:0px;right:0px;background-image: url("image/top-blue.jpg");overflow:hidden;border-bottom: 3px solid #737373}
#button {position:absolute;bottom:5px;left:0px;}
#leftbox {position:absolute;top:90px;bottom:10px;left:10px;width:350px;overflow-y:auto;overflow-x:hidden;background-color:white;border-radius:10px;opacity:1}
#mapsection {position:absolute;top:75px;bottom:0px;right:0px;left:0px;background-color:white;overflow:hidden;min-width:250px }
#data {position:absolute;top:90px;bottom:10px;right:10px;left:400px;border-radius:10px 10px 0px 0px;overflow:hidden;min-width:250px;background-color:white;padding:25px;border-radius:10px;}
#documentation {padding-right:50px;}

/* topsection */
#family {display:none; position:absolute;top:78px;right:200px;width:75px;opacity:0.3}
#mills {display:none;position:absolute;top:0px;right:300px}
#mill1 {position:absolute;top:0px;left:0px;width:75px;opacity:0.3}
#mill2 {position:absolute;top:50px;left:35px;width:50px;opacity:0.3}
#mill3 {position:absolute;top:85px;left:60px;width:25px;opacity:0.3}
#people{display:none;position:absolute;top:90px;left:3px;width:100px;opacity:0.3}
#logo{cursor:pointer;position:absolute;top:5px;right:30px}
#beta{position:absolute;width:50px;top:0px;right:0px}

/* left-box content */
#gebiedselectie{display:none}
#layerfavo{display:none}
#datamenu{display:none}
#startmenu{display:none}
.leftboxhelp{position:relative;bottom:0px;margin:20px;color:#AAA}


/* mappage - mapsection */
#map {position:absolute;top:0px;bottom:0px;right:0px;left:0px;background-color:white;overflow:hidden;min-width:250px }
#fullscreenimage:hover{opacity:1}
#mapsearch{position:absolute;left:450px;top:20px;padding:9px;border-radius:3px;background-color:white;opacity:0.7}
#mapsearch:hover{opacity:0.9}
#mapsearchinput{font-size:100%;width:210px;border:0;outline:0;background:transparent;border-bottom: 1px solid grey;opacity:1}
#mapsearchimage{width:20px;opacity:0.3}
#legend {position:absolute;height:auto;top:14px;right:15px;width:250px;background-color:white;border-width:1px;border-color:grey;border-radius:5px;overflow:hidden}
#legendcontent {margin:0px 5px 0px 5px ;overflow-y:auto;max-height:500px}
#legendgebouwen {margin:0px 5px 0px 5px ;overflow-y:auto;max-height:500px}
#layerlist {Xoverflow-y:auto;Xmax-height:500px}
#result {position:absolute;height:auto;bottom:10px;left:375px;right:10px;background-color:white;border-width:1px;border-color:grey;border-radius:5px;overflow:hidden;display:none}
#resultcontent {padding:15px}
#loading {display:none;position:absolute;top:0px;left:0;right:0px;}
#maploadingtext {display:inline-block;height:30px;padding:5px 10px 0px 20px ;background-color:red;color:white;border-radius:0px 0px 10px 10px;}

/* wizard */
#wizard {position:absolute;height:auto;top:92px;right:275px;width:300px;background-color:#FFF780;border-radius:10px;opacity:1;display:none}
#wizard:hover{cursor:move;}
.wizardbox{padding:12px;display:none;}
.wizardbox1{padding:12px;}
.wizardheader{font-size:20px;margin-bottom:20px;}
#WZvorigebutton{float:left;padding:5px;margin:10px 10px 10px 10px;background-color:white;display:none;}
#WZvolgendebutton{float:right;padding:5px;margin:10px 10px 10px 10px;background-color:white;}
.iconinwizard{cursor:pointer;width:15px;height:15px;}

/* mappage - filtersection */
#addByArea{font-size:100%;width:100%;height:35px;margin:10px 0px 10px 0px;
  background-image:url('image/marker_grey.png');
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position: right;
}
#XXXaddByArea{background: url(image/select_on.png) no-repeat;background-size:contain;background-position:right;}
#selectresult{border-style: none;height:auto;border-width:1px;border-color:grey;padding:5px ;margin: 5px 5px 15px 0px;border-radius:3px}
#gebouwselectie{padding-bottom:30px}
#statistiekselectie{background-color:#EEE;padding:10px}

/* datasection */
#datacontainer{margin:25px;background-color:#FFF}
#databutton {position:absolute;top:125px;bottom:0px;right:0px;width:75px;overflow:hidden}
#help{position:absolute;right:0px;top:0px;background-color:#FFFF7A;max-width:300px;width:auto;cursor:pointer;padding:5px}
#layerbox{display:none;position:absolute;left:410px;margin:0px;top:70px;width:400px;height:auto;background-color:white;border-radius:5px;overflow:hidden}
#zon{float:right;margin:0px 25px 25px 25px ;}
#zon1{padding:3px;border-radius:10px 10px 0px 0px}
#zon2{padding:3px;}
#zon3{padding:3px;border-radius:0px 0px 10px 10px}

.zoom {position:absolute;top:20px;left:400px;width:35px;height:35px;background-color:#717F89;cursor:pointer;border-radius:5px;opacity:0.7}
.zoom:hover {opacity:0.9}
.zoomin {position:absolute;top:20px;background-image:url("image/zoomin.png");}
.zoomout {position:absolute;top:60px;background-image:url("image/zoomout.png");}#fullscreenimage{position:absolute;left:400px;top:80px;opacity:0.7;cursor:pointer}

.maintable {border: 1px solid lightgrey;border-collapse: collapse;}
.resulttable {border:0px;width:100%}
.infotab {position:relative;background-color:white;border-style: solid;border-width:2px 2px 2px 2px;border-bottom-color:white;border-radius:5px 5px 0px 0px;padding:0px 5px 0px 5px ;width:30px;margin:13px 0px 0px 5px;cursor:pointer}
.infotab:hover {background-color:lightgrey}
.infohr{position:relative;top:-6px;z-index: -1;color:#000;background-color:#000;height:2px;border:none;margin:0px 0px 10px 0px;padding:0px}
.infobutton {position:relative;border-style: solid;border-width:2px;border-radius:5px;padding:10px;width:30px;height:30px;margin:13px 0px 0px 13px;cursor:pointer}
.infobutton:hover {background-color:lightgrey}
.infobutton:target{background-color:red}
.shadow {-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 10px 0px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 10px 0px rgba(50, 50, 50, 0.75);}

.box{overflow:hidden;margin: 0px}
.boxcontent{padding:20px;background-color:white}
.boxsmall{height:20px}
.boxheader{background-color:lightgrey;padding:5px;margin-bottom:5px;font-weight:bold;border-radius:3px}
.boxsubheader{font-style:italic}

.boxlabel{width:100px;display:block}
.titleicon{position:relative;bottom:0px;opacity:0.3;cursor:pointer;padding-left:5px;padding-right:5px;width:20px}
.titleicon:hover{opacity:0.5}
.boxicon{position:relative;bottom:-3px;opacity:0.3;cursor:pointer;padding-left:5px;padding-right:5px;width:20px;height:auto}
.boxicon:hover{opacity:0.5}
.rowicon{position:relative;bottom:-7px;margin:5px 5px 5px 15px;padding-left:10px; opacity:0.3;cursor:pointer}
.rowicon:hover{opacity:0.5}
.bhpurple{background-color:95A0DA}
.radio {position:relative;bottom:-8px;margin:4px;width:20px;height:20px;opacity:0.4;cursor:pointer}
.radio:hover {opacity:0.8}
.checkbox {position:relative;bottom:-3px;margin:10px;width:20px;height:20px}
.euro::before {content:"";display: inline-block;width: 10px;height: 10px;margin-right:5px;background: url('image/euro.png') no-repeat;background-size: 100%;	opacity:0.5}
.clickable{cursor:pointer}
.clickable:hover{background-color:95A0DA}
.groupmenu{overflow:hidden;height:25px;background-color:#FFF;}
.groupmenutitel:hover{}
.groupmenutitel{overflow:hidden;display:inline-block;height:25px;cursor:pointer;width:100%;padding-top:3px;overflow:hidden}
.subgroupmenu{overflow:hidden;height:25px;background-color:#E1E6EA}
.subgroupmenutitel{overflow:hidden;display:inline-block;height:25px;cursor:pointer;width:100%;padding-top:3px;overflow:hidden}
.subgroupmenutitel:hover{}
.layermenu{display:inline-block;cursor:pointer;width:100%;height:auto;background-color:#D2D9E0;padding:5px 0px 5px 0px;border-style:solid;border-width:1px 0px 1px 0px;border-top-color:#D2D9E0;border-bottom-color:#D2D9E0;}
.layermenu:hover{border-top-color:#FFF;border-bottom-color:#AAA; }
.menubox {border-style:solid;border-width:0px 0px 0px 0px;border-color:grey;margin:2px;padding:0px}
.arrow {margin:0px 10px 0px 5px }
.baselayerbutton { height:55px;width:55px;overflow:hidden;display:inline-block;border-radius:3px;cursor:pointer;opacity:0.7;margin-left:3px}
.baselayerbutton:hover {;opacity:1}
.login {display:inline-block;background-color:#DAFFCC;margin:0px 10px 10px 0px ;position:relative;bottom:0px;width:400px;font-size:100%;height:28px;border:0;outline:0;border-bottom: 1px solid grey}
.link {cursor:pointer;text-decoration:none; border-bottom:0px; color:grey}
.link:hover {text-decoration: underline; border-bottom:0px; color:grey}
.center{position:relative;right:0px;left:0px;margin:auto;}
.dataimg{float:left;border-radius:10px;width:250px;margin:25px 25px 25px 0px;}
.datamenuimg{position:relative;bottom:-3px}
.tdo {background-color: #EEEEEE;border-bottom: 1px solid #FFF}
.tde {background-color: #EEEEEE;border-bottom: 1px solid #FFF}
.tdd{padding:5px;}
.kaartknop{position:relative;width:300px;text-align:center;background-color:green;border-radius:5px;color:white;height:30px;font-size:150%;padding:20px;cursor:pointer;margin:20px 20px 20px 0px }
.kaartknop:hover{opacity:0.8}
.zonimg {width:250px}
.legendrow {margin:5px 0px 5px 0px; border-bottom:1px solid #DDD }
.legendimage {margin-left:5px}
.tbi{width:100%;height:auto;border-collapse:collapse;}
.tbr{width:100%;height:auto;border-collapse:collapse;}
.r1 {background-color:#CCE6FF;text-align:right;}
.r2 {background-color:#CCE6FF;text-align:right;}
.r3 {background-color:#CCE6FF;text-align:right;}
.r4 {background-color:#CCE6FF;text-align:right;}
.r5 {background-color:#CCE6FF;text-align:right;}
/*.r2 {background-color:#99FF99;text-align:right;border:0px;}
.r3 {background-color:#CCFF99;text-align:right;border-width:0px;;}
.r4 {background-color:#FFFF99;text-align:right;border-width:0px;;}
.r5 {background-color:#FFCC99;text-align:right;border-width:0px;;}
*/
.rw1 {background-color:#E5F2FF;text-align:right;border-width:0px;;}
.rw2 {background-color:#E5F2FF;text-align:right;border-width:0px;;}
.rw3 {background-color:#E5F2FF;text-align:right;border-width:0px;;}
.rw4 {background-color:#E5F2FF;text-align:right;border-width:0px;;}
.rw5 {background-color:#E5F2FF;text-align:right;border-width:0px;;}
/*
.rw2 {background-color:#CCFFCC;text-align:right;border-width:0px;;}
.rw3 {background-color:#E6FFCC;text-align:right;border-width:0px;;}
.rw4 {background-color:#FFFFCC;text-align:right;border-width:0px;;}
.rw5 {background-color:#FFE6CC;text-align:right;border-width:0px;;}
*/
.rww {background-color:#FFFFFF;text-align:right;border-width:0px;;}
.jaar {width:50px;margin-left:5px;margin-right:5px;font-size:100%;color:rgb(84, 84, 84)}


/* small desktop */
@media screen and (max-width:1200px) {
	body{font-size: 13px;}
	#data {left:325px;}
	#leftbox {width:275px;}
	#mapsearch {left:375px;}
	.zoom {left:325px;}
	.titleicon{width:15px}
	.radio {margin:5px 0px 5px 0px;}
	.checkbox {position:relative;bottom:-3px;margin:10px 3px 3px 3px ;width:15px;height:15px}
	.zonimg {width:175px}
}

/* tablet */
@media screen and (max-width: 1024px) {
}

/* mobile phone */
@media screen and (max-width: 768px) {
}

/* mobile phone */
@media print {
	body{font-size: 12px;}
	td {font-size:70% }
	th{font-size:70%}
}